{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="content container-fluid">

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <!-- <div class="alert" {% if message.tags %} class="{{ message.tags }}" {%endif %} role="alert">{{ message }} -->
        <div class="alert{% if message.tags %} {{ message.tags }} {% endif %}" role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
    </div>
    {% endif %}


    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Basic Info</h5>
                </div>
                <div class="card-body">
                    <div class="justify-content-center">
                        <form method="post" class="w-50">
                            {% csrf_token %}
                            <div class="row mt-5">
                                <div class="form-group">
                                    <label>Input Values</label>
                                    <input class="form-control" name="input_values" type="text" value=""/>
                                </div>
                                <div class="form-group">
                                    <label>Search Value</label>
                                    <input class="form-control" name="search_value" type="number" value=""/>
                                </div>
                            </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Khoj</button>
                        </div>
                    </form>
                        <div class="pt-3">
                            <strong>Result: True</strong>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}